body {
    background-color: #f3f3f3;
}

@media (min-height: 320px) {
    .ui.footer.form-page {
        /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
        flex: 1;
    }
}

#textPrimary {
    color: #2943a0
}

#textSecondary {
    color: #0c82bd
}

#textSuccess {
    color: rgb(40, 198, 31)
}

#fontWeightHeavy {
    font-weight: 900;
}

button#myBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #1B1C1D;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    line-height: 1;
    border-radius: 4px;
}

#rightPush {
    padding-left: 10px;
}