body {
    background-color: #f3f3f3;
}

@media (min-height: 320px) {
    .ui.footer.form-page {
        /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#textPrimary {
    color: #2943a0
}

#textSecondary {
    color: #0c82bd
}

#fontWeightHeavy {
    font-weight: 900;
}